@{
    string GeziTarihi = "02.02.2023";
    string Icerik = "Eğer seyahat planınıza İzmir’i ekleyecek ve İzmir gezilecek yerler listesi çıkartacaksanız, bilmelisiniz ki o liste İzmir hava durumu bilgilerine göre şekillenmeli. Çünkü İzmir hava durumu gezeceğiniz birçok yeri etkileyen önemli bir faktör. İzmir’de Akdeniz iklimi görülüyor. Yani yazları sıcak ve kurak, kışları ılık ve yağışlı geçiyor bu kentte. İzmir genel olarak bakıldığında sıcak bir şehir. Kar ve don nadir görülüyor. Eğer yazın İzmir’e gidecekseniz öğleden önce yapacağınız gezi planınızı denize girmekle değerlendirin deriz. İzmir deniz suyu sıcaklığı, neredeyse kışın dahi denize girme imkanı sunuyor. Çünkü İzmir’in yıllık ortalama deniz suyu sıcaklığı 18,5 derece.";
    string baslik = "İzmir Gezisi";

}
<h1>@baslik</h1>
<h2>GeziTarihi : @GeziTarihi</h2>
<h3> @Icerik</h3>
