@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Görev-5</h1>
    <div class="card text-center">
        <div class="card-header">
            Güncel Yazılar
        </div>
        <div class="card-body bg-light">

            <h5 class="card-title">İzmir Seyahatim Hakkında Merak Ettikleriniz</h5>
            <p class="card-text">Eğlenceli beş günün ardından geriye kalan yorgunluğu nasıl attım</p>
            <a href="/BlogDetay" class="btn btn-primary">Devamını Okumak İçin TIKLA</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>
